@font-face {
  font-family: HelveticaNeueLTStd-Roman;
  src: url("../fonts/custom/HelveticaNeueLTStd-Roman.otf");
}

@font-face {
    font-family: HELVETICANEUELTSTD-LT;
    src: url("../fonts/custom/HELVETICANEUELTSTD-LT.OTF");
}

@font-face {
  font-family: HELVETICANEUELTSTD-BD;
  src: url("../fonts/custom/HELVETICANEUELTSTD-BD.OTF");
}

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: font-family: HELVETICANEUELTSTD-LT, sans-serif;
  background-color: #ffffff;
}

.container-fluid {
  overflow: hidden;
  box-sizing: border-box;
  padding-left: 0;
  padding-right: 0;
}

#logo {
  margin-top: 30px;
}

.img-main {
  height: 100%=;
}

#scroll_to {
  -webkit-filter: invert(100%);
  position: relative;
  bottom: -1em;
  margin: auto;
  padding-bottom: 3em;
}

#logo-costan {
  position: relative;
  top: 2em;
  margin: 3em auto;
  margin-top: -3em;
}

#titulo {
  margin-top: 10%;
  font-family: HelveticaNeueLTStd-Roman, sans-serif;
  color: #124e84;
}

.btn.btn-primary:hover,
.btn.btn-primary:focus,
.btn.btn-primary:active,
.btn.btn-primary.active {
  color: #ffffff;
  background-color:  #124e84;
  border-color:  #ffffff;
  border-radius: 0px;
}

/* Color placeholder */

form {
  color: #fff;
  width: 100%;
  margin: 1em auto;
}

input {
  padding: 1em 1em;
  margin: 0 1em;
}

form .form-control::-webkit-input-placeholder {
  color: #124e84;
}

form .form-control::-moz-placeholder {
  color: #124e84;
}
form .form-control:-ms-input-placeholder {
  color: #124e84;
}
form .form-control:placeholder {
  color: #124e84;
}

#contact {
  background-color: #124e84;
  padding: 1em;
}



.contact-beta {
  position: relative;
  top: 6em;
}

.logo-dn {
  position: relative;
  top: 2em;
}

#logos
 {
  height: 100%
  margin: auto;
  }


.price {
  color: white;
  font-size: 75%;
}

.text-datos {
  font-size: 1em;
}

.tachado {
  text-decoration: line-through;
  font-size: 3em;
}

.rebaja {
  font-size: 3em;
}

.vitrina {
  margin-top: 7em;
}

#opciones {
  margin-top: 3.5em;
}

ul.tilde {
  list-style-image: url('../img/tilde.png');
}

ul li {
  padding: 1em;
  font-weight: bold;
}

ul p {
  padding: 0 1em;
}


.form-inline .form-control {
  width: 20em;
}

.box {
  background-color: #124e84;
}

.slides {
  height: 100%;
  width: auto;
}

#img-logo  img{
  height: 100%;
  width: auto;
  padding: 2em;
}

#img-logo div {
  padding: 2em 2em;
}

#boxes {
  background-color: #124e84;
  border: solid 5px white;
  height: 20em;
  margin: auto;
  padding: 2em;
  width: 100$;
}

.icon-box {
  color: #ffffff;
  text-align: center;
}



.wrapper-footer {
  background-color: #f5f5f5;
  margin-top: 2em;
  padding-top: 5em;
}

.powered {
  margin-bottom: -20em;
  text-align: center;
  background-color: #f5f5f5;
  width: 100%;
}

#row-power {
  background-color: #f5f5f5;
}

.owl-carousel {
	position: relative;
  top: 5em;
	height: 100%;
}


/* Carousel */
.owl-carousel .owl-nav button.owl-prev,
.owl-carousel .owl-nav button.owl-next {
    width: 3em;
    background-color: #ccc ;
    padding: 10px;
    height: 3em;
    border-radius: 0;
    margin: 0 ;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.owl-carousel .owl-nav button.owl-prev {
    left: 0;
}
.owl-carousel .owl-nav button.owl-next {
    right: 0;
}
.owl-carousel .owl-nav button i {
  color: white;
}
